.PimientaClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ImageClassP{
    display: flex;
    height: 25vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ImageClassP img{
    width: 100%;
}
.ConatainerP{
    width: 65%;
    text-align: justify;
    background: #ffffff;
    margin: 20px 0;
    padding: 10px 20px;
}
.ConatainerC p{
    font-size: 15px;
    font-family: 'avenir';
}
.ConatainerC h1{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: 'avenir';
}