@media (min-width: 1244px) {
    .menuHeader {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 15vh;
        background: #eeeeee;
        width: 100%;
        z-index: 4000;
        color: black;
    }

    .menuHeader h1 {
        background: #ffffff;
        font-family: 'font_1';
        font-weight: 100;
        padding: 10px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuHeader div {
        background: #ffffff;
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* móvil */
@media (max-width: 1243px) {
    .menuHeader {
        position: fixed;
        top: 0;
        padding: 1vh 0;
        background: white;
        width: 100%;
        z-index: 4000;
        color: black;
    }

    .menuHeader h1{
        display: none;
    }

    .menuHeader div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        pad: 20px 0;
        margin: 0;
    }
}