.ProductoClass{
    width: 35%;
    margin: 0 30px;
    max-width: 300px;
    height: 50vh;
    overflow: hidden;
    border: 1px solid #adadad;
    cursor: pointer;
}
.ProductoClass .ContainerImg{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ProductoClass .ContainerImg img{
    height: 100%;
}
.ProductoClass p{
    margin: 5px 10px;
}
.ProductoClass span{
    margin: 5px 10px;
    font-size: 20px;
    color: #4a4a4a;
}
.ProductoClass .Container{
    text-align: left;
    display: block;
    width: 100%;
    height: 30%;
    margin: 20px 10px;
}