.CafeClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'avenir';
}
.ImageClassP{
    display: flex;
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ImageClassP img{
    width: 100%;
}
.ConatainerC{
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
    padding: 10px 20px;
    text-align: justify;
    width: 65%;
    background: #ffffff;
}
.ConatainerP p{
    font-family: 'avenir';
}
.ConatainerP h1{
    color: black;
    font-weight: 500;
    margin: 30px;
}