/* escritorio */
@media (min-width: 1244px) {
    .ProductCard{
        width: 45%;
        height: 40vh;
        background: rgb(250, 250, 250);
        overflow: hidden;
        display: flex;
        box-shadow: 1px 0px 10px 0px rgb(60, 60, 60);
    }
    .ProductCard img{
        width: 50%;
        object-fit: cover;
    }
    .ProductCard .Container{
        width: 50%;
        padding: 30px;
    }
    .ProductCard .Container .Title{
        font-size: 15px;
        font-family: Georgia;
        color: #1d1d1d;
    }
    .ProductCard .Container .ContainerText{
        font-size: 14px;
        margin: 20px 0;
        line-height: 1.5;
        text-align: justify;
        overflow: hidden;
        overflow-y: scroll;
    }
}
/* móvil */
@media (max-width: 1243px) {
    .ProductCard{
        width: 90%;
        height: 40vh;
        margin: 30px;
        background: #d3d3d3;
        overflow: hidden;
        display: flex;
        box-shadow: 1px 0px 10px 0px rgb(60, 60, 60);
    }
    .ProductCard img{
        width: 50%;
    }
    .ProductCard .Container{
        width: 50%;
        padding: 30px;
    }
    .ProductCard .Container .Title{
        font-size: 15px;
        font-family: Georgia;
        color: #1d1d1d;
    }
    .ProductCard .Container .ContainerText{
        font-size: 11px;
        margin: 20px 0;
        line-height: 1.5;
        text-align: justify;
        overflow: hidden;
        overflow-y: scroll;
    }
}