@media (min-width: 1244px) {
    .historiaContainer {
        height: 120vh;
        width: 100%;
        background: #bdc0c6;
        overflow: hidden;
    }
}

@media (max-width: 1243px) {
    .historiaContainer {
        height: 150vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #bdc0c6;
        overflow: hidden;
    }
}