.AboutPageClass{
    margin-top: 12vh;
    width: 100%;
    text-align: center;
    height: 90vh;
}
.AContainClass{
    display: flex;
    justify-content: center;
}
.info{
    width: 45%;
    text-align: justify;
    margin: 50px 70px;
}

.info .infoImgs{
    display: flex;
    justify-content: space-between;
}

.info p{
    font-size: 20px;
    color: #3f3f3f;
    line-height: 1.5;
}
.info h3{
    text-align: center;
    width: 100%;
}
.AboutPageClass .Title{
    font-size: 40px;
    padding: 20px;
    color: white;
    background: #3c8a4d;
}
.ImagesAClass{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
}
.ImagesAClass .ImagesAClassImg{
    height: 90%;
}
.AboutPageClass h3{
    font-size: 50px;
    margin: 20px;
    font-weight: 300;
}