.HeaderClass{
    height: 65vh;
    width: 100%;
    overflow: hidden;
}
.HeaderClass img{
    position: relative;
    width: 100%;
    top: -272px;
    z-index: -1;
}
.HeaderClass p{
    position: absolute;
    color: white;
    font-family: 'font_1';
    top: 40%;
    left: 20%;
    font-weight: 400;
    font-size: 75px;
    width: 60%;
    text-align: center;
    z-index: 1;
}