.HeaderClass{
    height: 65vh;
    width: 100%;
    overflow: hidden;
}
.HeaderClass img{
    position: relative;
    width: 100%;
    top: -272px;
    z-index: -1;
}
.HeaderClass p{
    position: absolute;
    color: white;
    top: 23%;
    left: 20%;
    font-weight: 400;
    font-size: 50px;
    width: 60%;
    text-align: center;
    z-index: 1;
}

.HeaderClass .HeaderMenu{
    font-family: Bai Jumjuree;
    position: absolute;
    color: white;
    top: 20px;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    text-align: center;
    z-index: 1;
}