.InputClass{
    color: black;
    border: none;
    height: 50px;
    padding-left: 2%;
    width: 98%;
    border-bottom: solid black 1px;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    outline: none;
    margin: 10px 0;

    transition: .5s;
}

.InputClass:hover{
    border: solid 1px;
}