.FormClass{
    display: block;
    text-align: center;
}
.FormClass .totalFormContainer{
    margin-top: 14vh;
}
.formSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.locationCard{
    width: 30%;
    margin: 10vh 0;
}
.locationCard h1{
    font-weight: 300;
}

.FormClassCont h1{
    margin: 40px;
    font-weight: 300;
    font-size: 30px;
}
.FooterClassContCopy{
    height: 30vh;
    width: 100%;
    background: #efefef;
    display: inline-block;
    text-align: center;
    color: black;
}
.FooterClassContCopy p{
    margin: 40px 0;
    font-weight: 200;
}
a{
    font-size: 30px;
    color: black;
}
/* escritorio */
@media (min-width: 1244px) {
    .locationCard{
        position: relative;
        margin: 30px 0;
        width: 35%;
        left: 5%;
    }
    .FormClassCont{
        width: 60%;
    }
}
/* móvil */
@media (max-width: 1243px) {
    .locationCard{
        display: none;
    }
    .FormClassCont{
        width: 90%;
    }
}